---
import { siteConfig } from '@/config';
import { url } from '@utils/url-utils';

const pageTitle = `${siteConfig.title} - ${siteConfig.subTitle}`;
const backgroundImageEnabled = siteConfig.backgroundImage.enabled;
const backgroundImageUrl = url(siteConfig.backgroundImage.url);


---
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href={url(siteConfig.favicon)} type="image/x-icon">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Delius"> -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comic+Neue">
    <title>{pageTitle}</title>
    
</head>
<body style={backgroundImageEnabled ? `background-image: url(${backgroundImageUrl})` : ''}>
    <slot />
</body>

</html>


<style is:global define:vars={{}}>
@font-face {
  font-family: 'Comic Sans MS';
  src: url('/fonts/ComicSansMS.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('/fonts/ComicSansMS-Blod.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* 默认主体，白天模式 */
:root {
    --bg-color: #f7f7ff;
    --text-color: #000000;
    --footer-text-color: #000000;
    --link-color: #003b6e;
    --motto-text-color: #999;
    --border-color: gray;

    --image-shadow-color: rgba(0, 0, 0, 0.15);
}
/* 黑暗模式 */
[data-theme="dark"] {
    --bg-color: #031116;
    --text-color: #ffffff;
    --footer-text-color: #ffffff;
    --link-color: #57ace7;
    --motto-text-color: #c9d0d4;
    --border-color: gray;

    --image-shadow-color: rgba(59, 130, 246, 0.4);
}

 html, body { 
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Comic Sans MS', 'Comic Neue';
    /* font-weight: bold; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    height: 100%;
    width: 100%;
}
</style>